.style-container button {
    font-weight: 500;
    font-size: 18px;
    color: black;
    width: 100px;
    height: 50px;
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
  }
  
  button.selected {
    color: white;
    background-color: rgb(33, 74, 176);
    border: 2px solid rgb(94, 94, 94);
  }

.styling {
    display: flex;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #e0b9b9;
    border-radius: 8px;
    background: #ffefef;
    box-shadow: 5px -2px 5px 2px rgb(0 0 0 / 30%);
}

.template{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}